<<<<<<< HEAD
<h1>Welcome to SMMS</h1>
<h4>...Your Simple Member Management Software</h4>
=======
<!DOCTYPE html>
<html>
<head>
  <title>SMMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to SMMS</h1>
<h4>...Your Simple Member Management Software</h4>

</body>
>>>>>>> 704d65d8ba5cf3aa95021c90f695df3cfcb6d97a
