<h1>New Membership Type</h1>

<%= form_tag("/membership_type", method: "post") do %>
  Membership Type Name: <%= text_field(:membership_type,:tx_membership_type ) %> <br/>
  Membership Type Code: <%= text_field(:membership_type,:cd_membership_type_code) %> <br/>
  Duration (Days): <%= number_field(:membership_type,:nb_membership_duration) %> <br/>
  <input type="submit" value="Submit">
<% end %>

